<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./a-elec-issue.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inder:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Abel:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="a-elec-issue">
      <div class="rectangle-parent2">
        <div class="frame-child1"></div>
        <img
          class="icon-arrow-back4"
          alt=""
          src="./public/-icon-arrow-back3.svg"
        />

        <strong class="electronic-issues">Electronic Issues</strong>
      </div>
      <img class="icon-home4" alt="" src="./public/-icon-home2.svg" />

      <div class="table-variation-14">
        <div class="frame-parent5">
          <div class="issue-type-container">
            <div class="name5">Name</div>
          </div>
          <div class="phone-wrapper1">
            <div class="phone3">Phone</div>
          </div>
          <div class="issue-type-container">
            <div class="name5">Room No</div>
          </div>
          <div class="issue-type-container">
            <div class="name5">Issue Type</div>
          </div>
          <div class="issue-type-container">
            <div class="name5">Description</div>
          </div>
        </div>
        <div class="frame-parent6">
          <div class="bhen-frame">
            <div class="name5">Bhen</div>
          </div>
          <div class="wrapper2">
            <div class="phone3">7990111234</div>
          </div>
          <div class="f-302-container">
            <div class="name5">F 302</div>
          </div>
          <div class="repair-any-appliance-wrapper">
            <div class="repair-any-appliance">Repair any Appliance</div>
          </div>
          <div class="lorem-ipsum-dolor-wrapper1">
            <div class="repair-any-appliance">Lorem ipsum dolor</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
