<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/a-fees.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inder:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Abel:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="a-fees">
      <div class="rectangle-group">
        <div class="frame-item"></div>
        <img
          class="icon-arrow-back1"
          alt=""
          src="images/-icon-arrow-back1.svg"
        />

        <strong class="check-fees-status">Check Fees Status</strong>
      </div>
      <img class="icon-home1" alt="" src="images/-icon-home.svg" />

      <div class="table-variation-11">
        <div class="frame-container">
          <div class="name-container">
            <div class="sem">Name</div>
          </div>
          <div class="name-container">
            <div class="sem">Sem</div>
          </div>
          <div class="transaction-id-wrapper">
            <b class="transaction-id">Transaction Id</b>
          </div>
          <div class="transaction-id-wrapper">
            <b class="transaction-id">Note</b>
          </div>
          <div class="transaction-id-wrapper">
            <b class="transaction-id">Status</b>
          </div>
        </div>
        <div class="frame-div">
          <div class="bhen-container">
            <div class="sem">Bhen</div>
          </div>
          <div class="bhen-container">
            <div class="sem">4</div>
          </div>
          <div class="frame">
            <div class="div2">84972343587923</div>
          </div>
          <div class="frame">
            <div class="div2">Lorem ipsum dolor</div>
          </div>
          <div class="frame">
            <div class="div2">Lorem ipsum dolor</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
