<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./a-lofo.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inder:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Abel:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="a-lofo">
      <div class="rectangle-container">
        <div class="frame-inner"></div>
        <img
          class="icon-arrow-back2"
          alt=""
          src="./public/-icon-arrow-back1.svg"
        />

        <strong class="lost-and-found">Lost and Found</strong>
      </div>
      <img class="icon-home2" alt="" src="./public/-icon-home.svg" />

      <div class="table-variation-12">
        <div class="frame-parent1">
          <div class="lostfoiund-wrapper">
            <div class="lostfoiund">Lost/Foiund</div>
          </div>
          <div class="lostfoiund-wrapper">
            <div class="lostfoiund">Name</div>
          </div>
          <div class="lostfoiund-wrapper">
            <div class="lostfoiund">Date</div>
          </div>
          <div class="lostfoiund-wrapper">
            <div class="lostfoiund">Note</div>
          </div>
        </div>
        <div class="frame-parent2">
          <div class="found-wrapper">
            <div class="lostfoiund">Found</div>
          </div>
          <div class="found-wrapper">
            <div class="lostfoiund">Vikas</div>
          </div>
          <div class="blue-colored-wrapper">
            <div class="blue-colored">25/04/2023</div>
          </div>
          <div class="blue-colored-wrapper">
            <div class="blue-colored">Blue colored</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
