<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./a-profile.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inder:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Abel:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="a-profile">
      <div class="rectangle-parent3">
        <div class="frame-child2"></div>
        <img
          class="icon-arrow-back5"
          alt=""
          src="./public/-icon-arrow-back4.svg"
        />

        <strong class="student-data">Student Data</strong>
      </div>
      <div class="table-variation-15">
        <div class="frame-parent7">
          <div class="student-id-wrapper">
            <div class="student-id">Name</div>
          </div>
          <div class="student-id-wrapper">
            <div class="student-id">Phone</div>
          </div>
          <div class="student-id-wrapper">
            <div class="student-id">Room No.</div>
          </div>
          <div class="student-id-wrapper">
            <div class="student-id">Student id</div>
          </div>
          <div class="student-id-wrapper">
            <div class="student-id">Email</div>
          </div>
        </div>
        <div class="frame-parent8">
          <div class="d-302-wrapper">
            <div class="student-id">Bhen</div>
          </div>
          <div class="d-302-wrapper">
            <div class="student-id">7990111234</div>
          </div>
          <div class="d-302-wrapper">
            <div class="student-id">D 302</div>
          </div>
          <div class="wrapper4">
            <div class="student-id">202150012</div>
          </div>
          <div class="d-302-wrapper">
            <div class="student-id">202150012@iiitv.ac.in</div>
          </div>
        </div>
      </div>
      <input class="sec" type="text" placeholder="Search" />

      <img class="icon-search" alt="" src="./public/-icon-search.svg" />

      <a class="icon-home5" id="iconHome">
        <img class="vector-icon2" alt="" />

        <img class="vector-icon3" alt="" src="./public/vector1.svg" />
      </a>
    </div>

    <script>
      var iconHome = document.getElementById("iconHome");
      if (iconHome) {
        iconHome.addEventListener("click", function (e) {
          // Please sync "dashboard" to the project
        });
      }
      </script>
  </body>
</html>
