<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/a-register.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inder:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Abel:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="a-register">
      <div class="rectangle-parent1">
        <div class="rectangle-div"></div>
        <img
          class="icon-arrow-back3"
          alt=""
          src="images/-icon-arrow-back2.svg"
        />

        <strong class="register">Register</strong>
      </div>
      <div class="current-day">Current Day : 26/04/23</div>
      <img class="icon-home3" alt="" src="images/-icon-home1.svg" />

      <div class="table-variation-13">
        <div class="frame-parent3">
          <div class="date-container">
            <div class="date1">Date</div>
          </div>
          <div class="name-wrapper1">
            <div class="date1">Name</div>
          </div>
          <div class="phone-container">
            <b class="out-time">Phone</b>
          </div>
          <div class="out-time-wrapper">
            <b class="out-time">Out time</b>
          </div>
          <div class="room-no-container">
            <b class="out-time">Room No.</b>
          </div>
          <div class="reason-wrapper">
            <b class="out-time">Reason</b>
          </div>
        </div>
        
        <div class="frame-parent4">
          <div class="date-container">
            <div class="date1">Date</div>
          </div>
          <div class="name-wrapper1">
            <div class="date1">Name</div>
          </div>
          <div class="phone-container">
            <b class="out-time">Phone</b>
          </div>
          <div class="out-time-wrapper">
            <b class="out-time">Out time</b>
          </div>
          <div class="room-no-container">
            <b class="out-time">Room No.</b>
          </div>
          <div class="reason-container">
            <b class="out-time">Reason</b>
          </div>
          <div class="in-time-wrapper">
            <b class="out-time">In Time</b>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
