<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inder:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Abel:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="a-wat-issue">
      <div class="rectangle-parent">
        <div class="frame-child"></div>
        <img
          class="icon-arrow-back"
          alt=""
          src="./public/-icon-arrow-back.svg"
        />

        <strong class="plumbing-or-drainage">Plumbing or Drainage Issue</strong>
      </div>
      <a class="icon-home">
        <img class="vector-icon" alt="" />

        <img class="vector-icon1" alt="" src="./public/vector.svg" />
      </a>
      <div class="table-variation-1">
        <div class="frame-parent">
          <div class="name-wrapper">
            <div class="name">Name</div>
          </div>
          <div class="phone-wrapper">
            <div class="phone">Phone</div>
          </div>
          <div class="name-wrapper">
            <div class="name">Room No</div>
          </div>
          <div class="issue-type-wrapper">
            <div class="name">Issue Type</div>
          </div>
          <div class="name-wrapper">
            <div class="name">Description</div>
          </div>
        </div>
        <div class="frame-group">
          <div class="bhen-wrapper">
            <div class="name">Bhen</div>
          </div>
          <div class="wrapper">
            <div class="phone">7990111234</div>
          </div>
          <div class="bhen-wrapper">
            <div class="name">F 302</div>
          </div>
          <div class="leaking-faucets-wrapper">
            <div class="leaking-faucets">Leaking Faucets</div>
          </div>
          <div class="lorem-ipsum-dolor-wrapper">
            <div class="leaking-faucets">Lorem ipsum dolor</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
