<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inder:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Abel:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="hostel-login">
      <div class="image-1-parent">
        <img class="image-1-icon" alt="" src="images/image-1@2x.png" />

        <div class="group-child"></div>
      </div>
      <div class="sec29">
        <strong class="login1">Login</strong>
        <div class="sec30">
          <form class="sec-container" action="/login" method="POST">
            <div class="sec31">
              <div class="email">Email</div>
              <input class="sec32" type="email" name="email" autocomplete="off" />
            </div>
            <div class="sec33">
              <div class="sec34">
                <div class="password1">Password</div>
                <a class="forgot-password">Forgot password?</a>
              </div>
              <input class="sec35" type="password" name="password" autocomplete="off"/>
            </div>
            <button class="sec36">
              <div class="login2">Login</div>
            </button>
          </form>
          <div class="dont-have-account-parent">
            <div class="dont-have-account" id="dontHaveAccount">
              Don’t have account?
            </div>
            <a class="create-new-account" id="createNewAccount"
              >Create new account</a
            >
          </div>
        </div>
      </div>
    </div>

    <script>
      var dontHaveAccount = document.getElementById("dontHaveAccount");
      if (dontHaveAccount) {
        dontHaveAccount.addEventListener("click", function (e) {
          window.location.href = "/hostelsignup";
        });
      }
      
      var createNewAccount = document.getElementById("createNewAccount");
      if (createNewAccount) {
        createNewAccount.addEventListener("click", function (e) {
          window.location.href = "/hostelsignup";
        });
      }
      </script>
  </body>
</html>
