.frame-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 1440px;
  height: 84px;
}
.ellipse-icon {
  position: absolute;
  top: 12px;
  left: 1346px;
  width: 60px;
  height: 60px;
}
.vector-icon2,
.vector-icon3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 55%;
  right: -3192.5%;
  bottom: -55%;
  left: 3192.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon3 {
  height: 70.83%;
  width: 83.33%;
  top: 12.5%;
  right: 8.33%;
  bottom: 16.67%;
  left: 8.33%;
}
.icon-home1 {
  text-decoration: none;
  position: absolute;
  height: 47.62%;
  width: 2.78%;
  top: 26.19%;
  right: 8.54%;
  bottom: 26.19%;
  left: 88.68%;
  cursor: pointer;
}
.hostel-fees-status {
  position: absolute;
  top: 29px;
  left: 632px;
}
.check-your-hostel,
.rectangle-group {
  position: absolute;
  font-family: var(--font-inder);
}
.rectangle-group {
  top: 1px;
  left: 0;
  width: 1440px;
  height: 84px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--neutral-white);
}
.check-your-hostel {
  top: 141px;
  left: 107px;
  font-size: var(--font-size-13xl);
}
.fees-child {
  position: absolute;
  top: 160.5px;
  left: 1053px;
  width: 1px;
  height: 700px;
}
.sem-1 {
  flex: 1;
  position: relative;
}
.fees1,
.fees2,
.fees3,
.fees4,
.fees5,
.fees6,
.fees7,
.fees8,
.fees9 {
  position: absolute;
  border-radius: var(--br-sm);
  box-sizing: border-box;
  width: 180px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-11xl);
  justify-content: flex-start;
}
.fees1 {
  top: 2622px;
  left: -1389px;
  background-color: var(--color-darkseagreen);
  border: 2px solid var(--color-lightgreen);
  align-items: flex-start;
}
.fees2,
.fees3,
.fees4,
.fees5,
.fees6,
.fees7,
.fees8,
.fees9 {
  left: 1166px;
}
.fees2 {
  top: 409px;
  background-color: var(--color-silver-100);
  border: 2px solid var(--neutral-white);
  align-items: center;
  color: var(--color-gray-300);
}
.fees3,
.fees4,
.fees5,
.fees6,
.fees7,
.fees8,
.fees9 {
  top: 277px;
  background-color: var(--color-darkseagreen);
  border: 2px solid var(--color-lightgreen);
  align-items: flex-start;
}
.fees4,
.fees5,
.fees6,
.fees7,
.fees8,
.fees9 {
  top: 211px;
}
.fees5,
.fees6,
.fees7,
.fees8,
.fees9 {
  top: 475px;
  background-color: var(--color-silver-100);
  border: 2px solid var(--color-red);
}
.fees6,
.fees7,
.fees8,
.fees9 {
  top: 343px;
  background-color: var(--color-darkseagreen);
  border: 2px solid var(--color-lightgreen);
}
.fees7,
.fees8,
.fees9 {
  top: 541px;
  background-color: var(--color-silver-100);
  border: 2px solid var(--color-red);
}
.fees8,
.fees9 {
  top: 607px;
}
.fees9 {
  top: 673px;
}
.icon-credit-card {
  position: relative;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.icon-credit-card-parent,
.sec1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sec1 {
  border: 1px solid var(--neutral-white);
  font-family: var(--font-abel);
  font-size: var(--font-size-lg);
  background-color: var(--color-darkgray-400);
  border-radius: 4.96px;
  box-sizing: border-box;
  width: 304px;
  flex-shrink: 0;
  padding: 9.927002906799316px;
  justify-content: center;
}
.icon-credit-card-parent {
  position: absolute;
  top: 39px;
  left: 0;
  justify-content: flex-start;
  gap: 11px;
}
.add-a-note,
.enter-transaction-id {
  position: absolute;
  top: 0;
  left: 2px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inder);
  color: var(--neutral-white);
  text-align: left;
}
.add-a-note {
  top: 111px;
}
.send-for-checking {
  position: relative;
  font-size: 24.14px;
  font-family: var(--font-abel);
  color: var(--color-gray-300);
  text-align: left;
}
.sec2,
.send-for-checking-wrapper {
  position: absolute;
  left: 2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.send-for-checking-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-7xl);
  background-color: var(--color-lightgray);
  top: 266px;
  border-radius: var(--br-xs);
}
.sec2 {
  border: 1px solid var(--neutral-white);
  font-family: var(--font-abel);
  font-size: var(--font-size-lg);
  background-color: var(--color-darkgray-400);
  top: 153px;
  border-radius: 4.96px;
  box-sizing: border-box;
  width: 544px;
  height: 50px;
  padding: 9.927002906799316px;
}
.fees-item,
.frame-parent {
  position: absolute;
  top: 231px;
  left: 105px;
  width: 546px;
  height: 321px;
}
.fees-item {
  height: 40.84%;
  width: 50.47%;
  top: 65.23%;
  right: 25.64%;
  bottom: -6.08%;
  left: 23.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.fees {
  position: relative;
  background-color: var(--color-gray-200);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--neutral-white);
  font-family: var(--font-inter);
}
